<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create</title>
</head>
<body>
<div class="registration">
    <form action="/tryCreate" method="post">
        <label for="userName">Namn:</label><br>
        <input type="text" id="userName" name="userName" value=""><br>
        <label for="password">Password:</label><br>
        <input type="password" id="password" name="" value=""><br><br>
        <label for="equalPassword">Password again:</label><br>
        <input type="password" id="equalPassword" name="" value=""><br><br>
        <input type="submit" value="Registrera">
        <p th:text="${msg}"></p>
    </form>
</div>
</body>
</html>