<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
<div class="registration">
    <form action="/login" method="post">
        <label for="name">Namn:</label><br>
        <input type="text" id="name" name="name" value=""><br>
        <label for="password">Password:</label><br>
        <input type="password" id="password" name="" value=""><br><br>
        <input type="submit" value="Login">
        <p th:text="${msg}"></p><br><br>
    </form>
    <form action="/create" method="post">
        <input type="submit" value="create">
    </form>
</div>
</body>
</html>