<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
<div class="registration">
    <form action="/startlogin" method="post">
        <label for="name">Namn:</label><br>
        <input type="text" id="name" name="name" value=""><br>
        <label for="password">Password:</label><br>
        <input type="text" id="password" name="" value=""><br><br>
        <label for="password2">Password again:</label><br>
        <input type="text" id="password2" name="" value=""><br><br>
        <input type="submit" value="Registrera">
        <p th:text="${msg}"></p>
    </form>
</div>
</body>
</html>