<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
<div class="registration">
    <form action="/tryLogin" method="post">
        <label for="userName">Namn:</label><br>
        <input type="text" id="userName" name="userName" value=""><br>
        <label for="password">Password:</label><br>
        <input type="text" id="password" name="password" value=""><br><br>
        <input type="submit" value="Login">
        <p th:text="${msg}"></p><br>
    </form>
    <form action="/create" method="post">
        <input type="submit" value="create">
    </form>
</div>
</body>
</html>